.news-card__hint {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;  
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0px 16px;
  color: #000;
  position: absolute;
  top: 0;
  right: 45px;  
}

.news-card__hint_mini {
  font-size: 10px;
  line-height: 1.2;
}

.news-card__hint:hover {
  cursor: Url('../../images/coursor_pointer.svg'), pointer;
  
}