.seach-form {
  flex-shrink: 0;
  background-image: url('../../images/seach_form.jpg');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: flex;
  width: 100%;
  min-height: 576px;
  margin-top: -100px;  
  z-index: 0;
}

.seach-form__item {
  max-width: 608px;
  margin: 160px auto 80px;
  display: grid;
  row-gap: 32px;
}

.seach-form__title {
  grid-column: 1/4;
  font-family: 'Roboto Slab', "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 1.06;
  color: #fff;
  margin: 0;
  text-align: left;
}

.seach-form__subtitle {
  grid-column: 1/4;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  text-align: left;
  color: #fff;
  margin: 0;
}

.seach-form__input-field {
  grid-column: 1/4;
  grid-row: 4/4;
  border-radius: 100px;
  display: flex;
  padding: 21px 24px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #fff;
  border: #D1D2D6 solid 1px; 
}

.seach-form__input-field::placeholder {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.37;
  color: #B6BCBF;
  
}

.seach-form__submit {
  grid-column: 3/4;
  grid-row: 4/4;
  border-radius: 100px;
  width: 168px;  
  z-index: 2;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
  background-color: #2F71E5;  
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);  
} 

/* Планшетник */

@media screen and (max-width: 767px) {
  .seach-form {
    min-height: 400px;
    margin-top: -66px; 
 }
}

@media screen and (max-width: 767px) {
  .seach-form__item {
    max-width: 452px;
    margin: 142px auto 48px;
    /* grid-template-rows: fit-content; */
    row-gap: 16px; 
 }
}

@media screen and (max-width: 767px) {
  .seach-form__title {
    font-size: 36px;
    line-height: 1.11;
    max-width: 385px;
 }
}

@media screen and (max-width: 767px) {
  .seach-form__input-field {
    grid-row: 5/5;
    margin: 0; 
 }
}

@media screen and (max-width: 767px) {
  .seach-form__submit {
    grid-row: 5/5;
    width: 160px; 
 }
}

@media screen and (max-width: 767px) {
  .seach-form__input-field {
    padding: 17px 24px; 
 }
}

/* Мобильный */