.page {
  /* background-color: #fff; */
  background-color: papayawhip;
  color: #1A1B22;
  font-weight: normal;
  margin: 0;  
}

.page__container {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;  
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 104px 19px;
  box-sizing: border-box;
}

 div, p, section, h1, h2, h3, li, ul, .footer, span {
	border: 1px solid olive;
}

