.header__navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: center; */
  margin-right: 104px;
  height: 80px;
}

.header__nav{  
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.header__item {  
  margin-left: 0;
  margin-left: 32px;
  list-style-type: none;
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;   
}

.header__item_underline {
  border-bottom: 3px solid;
}

.header__button {
  border: 1px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 100px;
  /* width: 112px; */
  display: flex;
  height: 48px;
  padding: 12px 15px;
  align-items: center;
  color:#fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

.header__logout {
  width: 24px;
  height: 24px;
  margin-left: 6px;
}


.header__link {
  text-decoration: none;  
}

.header__link:visited {
  color:#fff;  
}

.header__link:hover {
  cursor: Url('../../images/coursor_pointer.svg'), pointer;
  opacity: 0.6;
}

.header__link_loggedIn {
  color:#A9A9A9;
}

/* Планшетник */

@media screen and (max-width: 768px) and (min-width: 700px) {
  .header__navbar {
    max-height: 66px;
    margin-right: 40px; 
 }
}

@media screen and (max-width: 768px) and (min-width: 700px) {
  .header__item {
    font-size: 16px;
    line-height: 1.5;
    margin-left: 16px;
 }
}

@media screen and (max-width: 768px) and (min-width: 700px){
  .header__button {
    font-size: 16px;
    line-height: 1.5;    
    padding: 8px 15px;
    border: none;
 }
}


/* Мобильный */

@media screen and (max-width: 699px) {
  .header__navbar {
   visibility: collapse;    
 }
}




