.popup__form-item {  
  border: 0px;
  border-color: inherit;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  text-align: start;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
}

.popup__form-element {
  position: relative;
  margin: 0px auto 13px;
  -webkit-text-security: square;
}

.popup__form-element-label {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #2F71E5;
  margin: 0;
}

.popup__form-item-field {
  width: calc(100% - 4px);
  height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px auto 22px;
  box-shadow: none;
}

.seach-form__item-field::placeholder {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;;
  color: #000;
  opacity: 0.2;
  
}

/* input[type="password"] {
  -webkit-text-security: square;
} */

.popup__form-item_error {
  position: absolute;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: red;
  top: 60px;
  left: 0;
}

.popup__form-item-field_invert {
  border-bottom: 1px solid #ccc;
  background-color: #000;
  color: #ccc;
}

.popup__save-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 100px;
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 18px auto 0px;
  min-height: 64px;
}

.popup__save-button_invert {
  background-color: rgb(255, 255, 255);
  color: #000;
  margin: 218px auto 0px;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: Url('../../images/coursor_pointer.svg'), pointer;
  transition: all 1s ease;
}

.popup__save-button_inactiv {
  border: 1px solid #000000;
  background-color: #E6E8EB;
  box-sizing: border-box;
  color: #B6BCBF;
  opacity: 0.2;
}

.popup__save-button_inactiv:hover {
  opacity: 0.2;
  cursor: default;
}



@media screen and (max-width: 768px) {
  .popup__save-button {
    min-height: 40px;
    font-size: 14px;
    line-height: 1.21;
    border-radius: 2px;
  }
}


@media screen and (max-width: 450px) {
  .popup__form-item {
    font-size: 12px;
    line-height: 1.25;
    margin: 36px 0px 0px;
  }
}

.auth {
  max-width: 358px;
  width: 40%;
  min-width: 260px;
  background-color: #000;
  color: #FFFFFF;
  margin: auto;
}

.auth__signup {
  display: flex;
  flex-direction: row;
  margin: 15px auto 0px;
}

.auth__form-item {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #2F71E5;
  text-decoration: none;
  margin: 0px 5px 0px 0px;
}

.auth__form-item_link:hover {
  cursor: pointer;
  opacity: 0.6;
}